<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <% flash.each do |key, value| %>
      <div class="alerta">
        <div class="<%= flash_class(key) %>">
        <%= value %>
        </div>
    <% end %>
      </div>


    <% if user_signed_in? %> 
      <%= image_tag gravatar_url(current_user.email , 64), alt: "" %>      
      <%= link_to "Salir", destroy_user_session_path, method: :delete %>
    <% else %> 
      <%= link_to "Ingresar", new_user_session_path %>  
    <% end %>   
    

    <%= yield %>
    
  </body>
</html>
